*{
    padding: 15px;

}
body{
    width: 100%;
    max-width: 1000px;
    margin: auto;

}

div{
    background-color: aqua;
}
div > div{
    background-color: blue;
}
div > div > div{
    background-color: brown;
}